body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: aqua;
    text-align: center;
    padding: 10px 0;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    display: inline-block;
}

.nav-list li {
    display: inline;
    margin: 0 15px; 
}

.nav-list a {
    display: inline-block;
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
}

.nav-list a:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.main-content {
    text-align: center;
    padding: 20px;
}

h2, p, {
    text-align: center;
    margin: 20px 0;
}

.image-container {
    max-width: 800px;
    margin: 0 auto;
}

.image-container img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

page-wrapper {
width: 960px;
margin: 0 auto;
}