body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: center;
}

.nav-list li {
    flex: 1;
}

.nav-list a {
    display: block;
    color: rgb(122, 240, 255);
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
}

.nav-list a:hover {
    background-color: #575757;
}